@-webkit-keyframes grow {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    transform: translateX(0);
    transform: scale(0.99);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    transform: translateX(-100px);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateX(0);
    transform: scale(0.99);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    transform: translateX(-100px);
    transform: scale(1);
    opacity: 1;
  }
}
.links.visible > li {
  -webkit-animation: slide-bottom 0.3s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
          animation: slide-bottom 0.3s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
}

.links.visible > li:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.links.visible > li:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.links.visible > li:nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.links.visible > li:nth-child(5) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media only screen and (max-width: 1550px) {
  #toggle:checked ~ .header-menu > a {
    -webkit-animation: slide-bottom 0.3s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
            animation: slide-bottom 0.3s cubic-bezier(0.57, 0.13, 0.68, 0.89) both;
  }

  #toggle:checked ~ .header-menu > a:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }

  #toggle:checked ~ .header-menu > a:nth-child(3) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  #toggle:checked ~ .header-menu > a:nth-child(4) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }

  #toggle:checked ~ .header-menu > a:nth-child(5) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
}
body {
  color: #202f34;
  font-family: "Poppins", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 0;
}
body h1 {
  font-size: 30px;
  color: #333333;
  font-weight: 600;
}
body h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  width: 1100px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .reduction {
  display: flex;
  justify-content: center;
  background-color: #149f83;
  color: white;
  display: none;
}
.header .nav-bar {
  display: grid;
  grid-template-columns: 10% 40% 4%;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid #1010101a;
  padding: 16px 0;
}
.header .nav-bar label,
.header .nav-bar #toggle {
  display: none;
}
.header .nav-bar .header-menu-logo {
  display: flex;
  align-items: center;
}
.header .nav-bar .header-menu-logo img {
  max-width: 100%;
}
.header .nav-bar .header-menu {
  display: flex;
  align-items: center;
}
.header .nav-bar .header-menu a {
  text-decoration: none;
  color: #202f34;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.2rem 0.8rem;
  border-radius: 17px;
}
.header .nav-bar .header-menu a:hover {
  background-color: #f1f5f4;
}
.header .nav-bar .header-menu a:focus {
  background-color: #149f83;
  color: white;
}
.header .nav-bar .header-icones {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}
.header .nav-bar .header-icones a {
  color: #202f34;
  text-decoration: none;
  font-size: 18px;
}
.header .nav-bar .header-icones a:hover {
  color: #149f83;
}
.header .nav-bar .header-icones a .fa {
  align-items: center;
}
.header .nav-bar .header-icones .fa-cart-shopping {
  display: none;
}
.header .nav-bar .header-icones .price {
  font-size: 16px;
}
.header .prewod-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 400px 35px 400px;
  align-items: end;
  position: absolute;
  background-color: white;
  margin-top: 75px;
  border-bottom: 1px solid #1010101a;
  display: none;
}
.header .prewod-container .prewod-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 14% 5%;
  align-content: space-evenly;
  justify-items: center;
  align-items: end;
}
.header .prewod-container .prewod-products:hover {
  -webkit-animation: grow 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
          animation: grow 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}
.header .prewod-container .prewod-products a {
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
  color: #202f34;
}
.header .prewod-container .prewod-products img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.header .prewod-container .prewod-products .products-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .prewod-container .prewod-products .products-description p {
  display: flex;
  margin: 0 0 0.5rem 0;
  text-align: center;
  font-weight: 600;
}
.header .visible {
  display: grid;
}

.container .container-section1 {
  display: grid;
  padding: 16px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5% 95%;
  gap: 2rem;
}
.container .container-section1 .section1-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 1rem;
}
.container .container-section1 .section1-nav a {
  display: flex;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #202f34;
}
.container .container-section1 .section1-nav .text-bold {
  font-weight: 600;
}
.container .container-section1 .section1-nav .section1-nav-arrow {
  display: flex;
  height: 15px;
  padding-top: 0.2rem;
}
.container .container-section1 .section1-nav .section1-nav-arrow img {
  display: flex;
  align-items: center;
}
.container .container-section1 .images-container {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-column: 1/2;
  grid-row: 2/3;
  gap: 1rem;
}
.container .container-section1 .images-container img {
  background-color: #f1f5f4;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
.container .container-section1 .images-container .images-container-main {
  background-color: #f1f5f4;
}
.container .container-section1 .images-container .images-container-secondary {
  display: grid;
  grid-template-columns: 10% 10% auto;
  gap: 0.8rem;
}
.container .container-section1 .images-container .images-container-secondary img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.container .container-section1 .description-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.container .container-section1 .description-container h1 {
  text-transform: uppercase;
  margin: 0;
}
.container .container-section1 .description-container .note {
  margin: 0.5rem 0 1rem 0;
}
.container .container-section1 .description-container .note .star {
  color: #f79823;
}
.container .container-section1 .description-container .note .avis-number {
  text-decoration: none;
  color: #333333;
}
.container .container-section1 .description-container .ingredients {
  color: #149f83;
  text-transform: uppercase;
}
.container .container-section1 .description-container .ingredients:hover {
  color: #34bfaa;
}
.container .container-section1 .description-container .p-bold {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}
.container .container-section1 .description-container .select {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1010101a;
  padding: 0.5rem 0 0.5rem 0;
}
.container .container-section1 .description-container .select p {
  margin: 0;
}
.container .container-section1 .description-container .quantity {
  display: flex;
  border: 1px solid #1010101a;
  margin: 2rem 0 0 0;
  width: 103px;
  justify-content: space-around;
  padding: 0.2rem;
}
.container .container-section1 .description-container .quantity:hover {
  border: 1px solid #149f83;
}
.container .container-section1 .description-container .quantity input {
  border: none;
  display: flex;
}
.container .container-section1 .description-container .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .container-section1 .description-container .quantity input p {
  padding: 0.4rem 0 0.4rem 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.container .container-section1 .description-container .quantity #inc,
.container .container-section1 .description-container .quantity #dec {
  background-color: white;
  border: none;
}
.container .container-section1 .description-container .quantity #inc:hover,
.container .container-section1 .description-container .quantity #dec:hover {
  color: #149f83;
  cursor: pointer;
}
.container .container-section1 .description-container .select:hover {
  border-bottom: 1px solid #149f83;
}
.container .container-section1 .description-container .select-price {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.container .container-section1 .description-container .select-price a {
  text-decoration: none;
}
.container .container-section1 .description-container .select-price .check-unique {
  display: flex;
  position: relative;
  margin: 1rem 0 1rem 0;
  font-weight: 600;
}
.container .container-section1 .description-container .select-price .check-unique .check {
  position: absolute;
  color: #202f34;
  cursor: pointer;
  z-index: 2;
}
.container .container-section1 .description-container .select-price .check-unique .check i {
  background-color: white;
}
.container .container-section1 .description-container .select-price .check-unique .checked {
  position: absolute;
  color: #149f83;
  z-index: 1;
  font-weight: 600;
}
.container .container-section1 .description-container .select-price .check-abo {
  display: flex;
  position: relative;
  margin: 1rem 0 1rem 0;
}
.container .container-section1 .description-container .select-price .check-abo .check {
  position: absolute;
  cursor: pointer;
  color: #202f34;
  z-index: 2;
  font-weight: 600;
}
.container .container-section1 .description-container .select-price .check-abo .check i {
  background-color: white;
}
.container .container-section1 .description-container .select-price .check-abo .checked {
  position: absolute;
  color: #149f83;
  z-index: 1;
  font-weight: 600;
}
.container .container-section1 .description-container .check:focus {
  opacity: 0;
}
.container .container-section1 .description-container .checked:focus {
  opacity: 1;
}
.container .container-section1 .description-container .price p {
  font-size: 26px;
  font-weight: 600;
}
.container .container-section1 .description-container .price .btn-addtocart {
  background-color: #f79823;
  border: none;
  width: 100%;
  height: 62px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.container .container-section1 .description-container .price .btn-addtocart:hover {
  background-color: #faba4e;
}
.container .container-section1 .description-container .price .kilo-price {
  font-size: 16px;
  font-weight: 200;
}
.container .select-delay {
  padding: 1rem 0 1rem 1rem;
}
.container .select-delay .delay {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1010101a;
  padding: 0.5rem 0 0.5rem 0;
}

.container-section2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f1f5f4;
  margin: 2rem 0;
}
.container-section2 .description-container2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-section2 .description-container2 .images-container2 img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.container-section2 .description-container2 h2 {
  position: relative;
}
.container-section2 .description-container2 h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #149f83;
  bottom: -15px;
  margin-top: 0.5rem;
}

.container-section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 85%;
}
.container-section3 .taste {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.container-section3 .taste a {
  border-radius: 17px;
  cursor: pointer;
  padding: 0 1rem;
  text-decoration: none;
  color: #202f34;
}
.container-section3 .taste a:focus {
  background-color: #149f83;
  color: white;
}
.container-section3 .text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 20%;
  gap: 2rem;
}
.container-section3 .text-container .ingredients {
  padding: 0 3rem;
}
.container-section3 .text-container .ingredients h2 {
  position: relative;
  margin: 0;
}
.container-section3 .text-container .ingredients h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #149f83;
  bottom: -15px;
  margin-top: 0.5rem;
}
.container-section3 .text-container .ingredients p {
  margin-top: 2rem;
}
.container-section3 .text-container .ingredients .com1 {
  margin-bottom: 0;
}
.container-section3 .text-container .ingredients .com2 {
  margin-top: 0;
}
.container-section3 .text-container .composition {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}
.container-section3 .text-container .composition h2 {
  position: relative;
  margin: 0;
  margin-bottom: 3rem;
}
.container-section3 .text-container .composition h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #149f83;
  bottom: -15px;
  margin-top: 0.5rem;
}
.container-section3 .text-container .composition .table-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.container-section3 .text-container .composition p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1010101a;
  margin: 0;
  padding: 0.9rem 0;
}
.container-section3 .text-container .avertissements {
  padding: 0 3rem;
}
.container-section3 .text-container .avertissements h2 {
  position: relative;
  margin: 0;
}
.container-section3 .text-container .avertissements h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #149f83;
  bottom: -15px;
  margin-top: 0.5rem;
}
.container-section3 .text-container .avertissements p {
  margin-top: 2rem;
}
.container-section3 .text-container .conseils {
  padding: 0 4rem 0 3rem;
}
.container-section3 .text-container .conseils h2 {
  position: relative;
  margin: 0;
}
.container-section3 .text-container .conseils h2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #149f83;
  bottom: -15px;
  margin-top: 0.5rem;
}
.container-section3 .text-container .conseils p {
  margin-top: 2rem;
}

.footer .sub-container {
  margin-top: 5rem;
  padding: 16px 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202f34;
}
.footer .sub-container .sub-description {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer .sub-container .sub-description h2 {
  color: white;
  margin-bottom: 0;
}
.footer .sub-container .sub-description p {
  margin-top: 0;
}
.footer .sub-container .sub-form input {
  width: 270px;
  height: 55px;
}
.footer .sub-container .sub-form input:hover {
  border: 2px solid;
  border-color: #34bfaa;
}
.footer .sub-container .sub-form .sub-btn {
  background-color: #149f83;
  border: none;
  padding: 1.7rem 5rem;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.footer .sub-container .sub-form .sub-btn:hover {
  background-color: #34bfaa;
}
.footer .about-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 400px;
  background-color: #f1f5f4;
}
.footer .about-container .about-links {
  padding: 0;
}
.footer .about-container .about-links .about-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .about-container .about-links .fa-angle-right {
  display: none;
}
.footer .about-container .links {
  text-decoration: none;
  color: #202f34;
  padding: 0;
}
.footer .about-container .links li {
  list-style-type: none;
  padding: 0.3rem;
}
.footer .about-container .links li a {
  text-decoration: none;
  color: #202f34;
}
.footer .about-container .links li a:hover {
  color: #149f83;
}

.logo-footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f1f5f4;
}

@media only screen and (max-width: 1550px) {
  .header .nav-bar {
    padding: 16px 16px;
    display: grid;
    grid-template-columns: 10% 75% 10%;
    justify-content: space-between;
  }

  .footer .sub-container {
    padding: 16px 16px;
  }
  .footer .about-container {
    padding: 16px 16px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }
  body .header {
    display: flex;
    flex-direction: column;
  }
  body .header .reduction {
    display: block;
    display: flex;
  }
  body .header .nav-bar {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80% 20%;
    justify-content: center;
    padding: 1rem 0 0 0;
  }
  body .header .nav-bar .header-menu-logo {
    display: flex;
    justify-content: center;
  }
  body .header .nav-bar .header-menu {
    display: none;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 2;
    height: 193px;
    background-color: white;
    gap: 0.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border: 0 1px 1px 1px solid #1010101a;
  }
  body .header .nav-bar .header-menu a {
    border-bottom: 1px solid #1010101a;
    border-radius: 0;
    background-color: white;
  }
  body .header .nav-bar .header-menu a:hover {
    color: #149f83;
    background-color: white;
  }
  body .header .nav-bar .header-menu a:focus {
    color: #202f34;
    background-color: white;
  }
  body .header .nav-bar .header-menu a {
    width: 100%;
  }
  body .header .nav-bar .label-hamburger {
    display: flex;
    grid-row: 1/2;
    font-size: 20px;
    align-items: center;
    padding: 0 0 0 1rem;
    cursor: pointer;
    z-index: 2;
    background-color: white;
  }
  body .header .nav-bar #toggle {
    display: flex;
    position: absolute;
    width: 1rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 1;
  }
  body .header .nav-bar #toggle:checked ~ .header-menu {
    display: flex;
  }
  body .header .nav-bar .header-icones {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
  }
  body .header .nav-bar .header-icones .fa-cart-shopping {
    display: flex;
  }
  body .header .fa-regular {
    display: none;
  }
  body .header .fa-bag-shopping {
    display: none;
  }
  body .header .prewod-container {
    display: none;
  }

  .container {
    padding: 0;
    width: auto;
  }
  .container .container-section1 {
    box-shadow: inset 0px 5px 9px -8px #0000003d;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .container .container-section1 .section1-nav {
    gap: 0.5rem;
  }
  .container .container-section1 .section1-nav a {
    font-size: 13px;
    align-items: center;
  }
  .container .container-section1 .images-container .images-container-main {
    display: flex;
  }
  .container .container-section1 .images-container .images-container-secondary {
    display: grid;
    grid-template-columns: 20% 20% auto;
  }
  .container .container-section2 {
    display: flex;
    flex-direction: column;
  }
  .container .container-section2 .images-container2 img {
    max-width: 100%;
  }
  .container .container-section3 {
    display: flex;
    flex-direction: column;
  }
  .container .container-section3 .taste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 1rem;
  }
  .container .container-section3 .taste a {
    font-size: 18px;
  }
  .container .container-section3 .text-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .container .container-section3 .text-container .ingredients {
    padding: 1rem 2rem;
  }
  .container .container-section3 .text-container .composition {
    padding: 1rem 2rem;
  }
  .container .container-section3 .text-container .avertissements {
    padding: 1rem 2rem;
  }
  .container .container-section3 .text-container .conseils {
    padding: 1rem 2rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .sub-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .footer .sub-container .sub-description {
    display: flex;
    align-items: center;
  }
  .footer .sub-container .sub-description h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .footer .sub-container .sub-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer .sub-container .sub-form .sub-btn {
    margin-bottom: 2rem;
  }
  .footer .about-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  .footer .about-container .about-links {
    cursor: pointer;
    border-bottom: 1px solid #bacecd;
    margin: 0.5rem;
    padding: 0 0 0.5rem 0;
  }
  .footer .about-container .about-links .about-title {
    transition: 0.5s ease-in-out;
  }
  .footer .about-container .about-links .about-title i {
    font-size: 20px;
    align-items: center;
    padding: 0;
    display: flex;
    transition: 0.5s ease-in-out;
  }
  .footer .about-container .about-links .links {
    display: none;
    transition: 0.5s ease-in-out;
  }
  .footer .about-container .about-links .visible {
    display: block;
  }
  .footer .about-container .about-links .rotate {
    transform: rotate(90deg);
  }
  .footer .about-container .about-links .color-title {
    color: #149f83;
  }
  .footer .about-container .about-links h2 {
    margin: 0 0;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */