// animation sur le check

.select-price {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  .check-unique {
    display: flex;
    position: relative;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    .check {
      position: absolute;
      cursor: pointer;
      z-index: 2;
      i {
        background-color: white;
      }
    }
    .checked {
      position: absolute;
      color: #149f83;
      z-index: 1;
      font-weight: 600;
    }
  }
  .check-abo {
    display: flex;
    position: relative;
    margin: 1rem 0 1rem 0;
    .check {
      position: absolute;
      cursor: pointer;
      z-index: 2;
      font-weight: 600;
      i {
        background-color: white;
      }
    }
    .checked {
      position: absolute;
      color: #149f83;
      z-index: 1;
      font-weight: 600;
    }
  }
}

.check:hover {
  opacity: 0;
}

.checked:hover {
  opacity: 1;
}
