// Style global

body {
  color: $font-color;
  font-family: "Poppins", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin: 0;
  h1 {
    font-size: 30px;
    color: $dark-black;
    font-weight: 600;
  }
  h2 {
    font-size: 20px;
    color: $font-color;
    font-weight: 600;
    text-transform: uppercase;
  }
}
