.header {
  display: flex;
  flex-direction: column;
  position: relative;
  .reduction {
    display: flex;
    justify-content: center;
    background-color: $dark-green;
    color: white;
    display: none;
  }
  .nav-bar {
    display: grid;
    grid-template-columns: 10% 75% 10%;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid #1010101a;
    padding: 16px 400px 16px 400px;
    label,
    #toggle {
      display: none;
    }
    .header-menu-logo {
      display: flex;
      img {
        align-items: center;
      }
    }
    .header-menu {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $font-color;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0.2rem 0.8rem;
        border-radius: 17px;
      }
      a:hover {
        background-color: $light-grey;
      }
      a:focus {
        background-color: $dark-green;
        color: white;
      }
    }
    .header-icones {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          color: $dark-green;
        }
        .fa {
          align-items: center;
        }
      }
      .fa-cart-shopping {
        display: none;
      }
      .price {
        font-size: 16px;
      }
    }
  }
  .prewod-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 400px 35px 400px;
    align-items: end;
    position: absolute;
    background-color: white;
    margin-top: 75px;
    border-bottom: 1px solid #1010101a;
    display: none;
    .prewod-products {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 60% 14% 5%;
      align-content: space-evenly;
      justify-items: center;
      align-items: end;
      a {
        max-width: 100%;
        max-height: 100%;
        text-decoration: none;
        color: $font-color;
      }
      img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
      .products-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          display: flex;
          margin: 0 0 0.5rem 0;
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
  .visible {
    display: grid;
  }
}
