.header {
  display: grid;
  grid-template-columns: 10% 70% 10%;
  justify-content: space-between;
  border-bottom: 1px solid #1010101a;
  padding: 16px 402px 16px 402px;
  .header-menu-logo {
    display: flex;
    img {
      align-items: center;
    }
  }
  .header-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    a {
      text-decoration: none;
      color: $font-color;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .header-icones {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    a {
      img {
        align-items: center;
      }
    }
    .price {
      font-size: 16px;
    }
  }
}
