// Style main

.container {
  // Bloc de la première section
  .container-section1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5% 95%;
    gap: 2rem;

    // nav section1
    .section1-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1.5rem;
      margin-top: 1rem;
      a {
        display: flex;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        color: $font-color;
      }
      .text-bold {
        font-weight: 600;
      }
      .section1-nav-arrow {
        display: flex;
        height: 15px;
        padding-top: 0.2rem;
        img {
          display: flex;
          align-items: center;
        }
      }
    }

    // images section1
    .images-container {
      display: grid;
      grid-template-rows: 80% 20%;
      grid-column: 1/2;
      grid-row: 2/3;
      gap: 1rem;
      img {
        background-color: $very-light-grey;
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }
      .images-container-main {
        background-color: $very-light-grey;
      }
      .images-container-secondary {
        display: grid;
        grid-template-columns: 10% 10% auto;
        gap: 0.8rem;
        img {
          object-fit: cover;
          max-width: 100%;
          // width: 60px;
        }
      }
    }

    // descritpion section1
    .description-container {
      grid-column: 2/3;
      grid-row: 2/3;
      h1 {
        text-transform: uppercase;
        margin: 0;
      }
      .note {
        margin: 0.5rem 0 1rem 0;
        .star {
          color: #f79823;
        }
        .avis-number {
          text-decoration: none;
          color: $dark-black;
        }
      }
      .ingredients {
        color: $dark-green;
        text-transform: uppercase;
      }
      .p-bold {
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 0 0 0;
      }
      .select {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #1010101a;
        padding: 0.5rem 0 0.5rem 0;
        p {
          margin: 0;
        }
      }
      .quantity {
        display: flex;
        border: 1px solid #1010101a;
        margin: 2rem 0 0 0;
        width: 103px;
        justify-content: space-around;
        padding: 0.2rem;
        &:hover {
          border: 1px solid $dark-green;
        }
        input {
          border: none;
          display: flex;
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          p {
            padding: 0.4rem 0 0.4rem 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
          }
        }
        .moins,
        .plus {
          background-color: white;
          border: none;
        }
        .moins:hover,
        .plus:hover {
          color: $dark-green;
          cursor: pointer;
        }
      }
      .select:hover {
        border-bottom: 1px solid #149f83;
      }
      .select-price {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1rem;
        a {
          text-decoration: none;
        }
        .check-unique {
          display: flex;
          position: relative;
          margin: 1rem 0 1rem 0;
          font-weight: 600;
          .check {
            position: absolute;
            color: $font-color;
            cursor: pointer;
            z-index: 2;
            i {
              background-color: white;
            }
          }
          .checked {
            position: absolute;
            color: #149f83;
            z-index: 1;
            font-weight: 600;
          }
        }
        .check-abo {
          display: flex;
          position: relative;
          margin: 1rem 0 1rem 0;
          .check {
            position: absolute;
            cursor: pointer;
            color: $font-color;
            z-index: 2;
            font-weight: 600;
            i {
              background-color: white;
            }
          }
          .checked {
            position: absolute;
            color: #149f83;
            z-index: 1;
            font-weight: 600;
          }
        }
      }

      .check:focus {
        opacity: 0;
      }

      .checked:focus {
        opacity: 1;
      }
      .price {
        p {
          font-size: 26px;
          font-weight: 600;
        }
        .btn-addtocart {
          background-color: $dark-yellow;
          border: none;
          width: 100%;
          height: 62px;
          font-size: 18px;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: $light-yellow;
          }
        }
        .kilo-price {
          font-size: 16px;
          font-weight: 200;
        }
      }
    }
  }
  .select-delay {
    padding: 1rem 0 1rem 1rem;
    .delay {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #1010101a;
      padding: 0.5rem 0 0.5rem 0;
    }
  }
}
