.container-section2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $light-grey;
  margin: 2rem 0;
  .description-container2 {
    h2 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $dark-green;
        bottom: -15px;
        margin-top: 0.5rem;
      }
    }
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
