$dark-grey: #bacecd;
$light-grey: #f1f5f4;
$very-light-grey: #f1f5f4;
$dark-green: #149f83;
$light-green: #34bfaa;
$dark-yellow: #f79823;
$light-yellow: #faba4e;
$dark-black: #333333;
$font-color: #202f34;
